/*
Kubernetes

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v1.27.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// XlineoperatorXlineCloudV1alpha1ApiService XlineoperatorXlineCloudV1alpha1Api service
type XlineoperatorXlineCloudV1alpha1ApiService service

type ApiCreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest struct {
	ctx context.Context
	ApiService *XlineoperatorXlineCloudV1alpha1ApiService
	namespace string
	body *CloudXlineXlineoperatorV1alpha1XlineCluster
	pretty *string
	dryRun *string
	fieldManager *string
	fieldValidation *string
}

func (r ApiCreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Body(body CloudXlineXlineoperatorV1alpha1XlineCluster) ApiCreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiCreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Pretty(pretty string) ApiCreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiCreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) DryRun(dryRun string) ApiCreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.dryRun = &dryRun
	return r
}

// fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint.
func (r ApiCreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) FieldManager(fieldManager string) ApiCreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.fieldManager = &fieldManager
	return r
}

// fieldValidation instructs the server on how to handle objects in the request (POST/PUT/PATCH) containing unknown or duplicate fields. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default in v1.23+ - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered.
func (r ApiCreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) FieldValidation(fieldValidation string) ApiCreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.fieldValidation = &fieldValidation
	return r
}

func (r ApiCreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Execute() (*CloudXlineXlineoperatorV1alpha1XlineCluster, *http.Response, error) {
	return r.ApiService.CreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterExecute(r)
}

/*
CreateXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster Method for CreateXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster

create a XlineCluster

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiCreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest
*/
func (a *XlineoperatorXlineCloudV1alpha1ApiService) CreateXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster(ctx context.Context, namespace string) ApiCreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	return ApiCreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return CloudXlineXlineoperatorV1alpha1XlineCluster
func (a *XlineoperatorXlineCloudV1alpha1ApiService) CreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterExecute(r ApiCreateXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) (*CloudXlineXlineoperatorV1alpha1XlineCluster, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CloudXlineXlineoperatorV1alpha1XlineCluster
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "XlineoperatorXlineCloudV1alpha1ApiService.CreateXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/xlineoperator.xline.cloud/v1alpha1/namespaces/{namespace}/xlineclusters"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	if r.dryRun != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dryRun", r.dryRun, "")
	}
	if r.fieldManager != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldManager", r.fieldManager, "")
	}
	if r.fieldValidation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldValidation", r.fieldValidation, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/yaml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest struct {
	ctx context.Context
	ApiService *XlineoperatorXlineCloudV1alpha1ApiService
	namespace string
	pretty *string
	allowWatchBookmarks *bool
	continue_ *string
	fieldSelector *string
	labelSelector *string
	limit *int32
	resourceVersion *string
	resourceVersionMatch *string
	sendInitialEvents *bool
	timeoutSeconds *int32
	watch *bool
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest) Pretty(pretty string) ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest {
	r.pretty = &pretty
	return r
}

// allowWatchBookmarks requests watch events with type \&quot;BOOKMARK\&quot;. Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server&#39;s discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored.
func (r ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest) AllowWatchBookmarks(allowWatchBookmarks bool) ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest {
	r.allowWatchBookmarks = &allowWatchBookmarks
	return r
}

// The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \&quot;next key\&quot;.  This field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.
func (r ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest) Continue_(continue_ string) ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest {
	r.continue_ = &continue_
	return r
}

// A selector to restrict the list of returned objects by their fields. Defaults to everything.
func (r ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest) FieldSelector(fieldSelector string) ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest {
	r.fieldSelector = &fieldSelector
	return r
}

// A selector to restrict the list of returned objects by their labels. Defaults to everything.
func (r ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest) LabelSelector(labelSelector string) ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest {
	r.labelSelector = &labelSelector
	return r
}

// limit is a maximum number of responses to return for a list call. If more items exist, the server will set the &#x60;continue&#x60; field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.  The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
func (r ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest) Limit(limit int32) ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest {
	r.limit = &limit
	return r
}

// resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset
func (r ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest) ResourceVersion(resourceVersion string) ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest {
	r.resourceVersion = &resourceVersion
	return r
}

// resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset
func (r ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest) ResourceVersionMatch(resourceVersionMatch string) ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest {
	r.resourceVersionMatch = &resourceVersionMatch
	return r
}

// &#x60;sendInitialEvents&#x3D;true&#x60; may be set together with &#x60;watch&#x3D;true&#x60;. In that case, the watch stream will begin with synthetic events to produce the current state of objects in the collection. Once all such events have been sent, a synthetic \&quot;Bookmark\&quot; event  will be sent. The bookmark will report the ResourceVersion (RV) corresponding to the set of objects, and be marked with &#x60;\&quot;k8s.io/initial-events-end\&quot;: \&quot;true\&quot;&#x60; annotation. Afterwards, the watch stream will proceed as usual, sending watch events corresponding to changes (subsequent to the RV) to objects watched.  When &#x60;sendInitialEvents&#x60; option is set, we require &#x60;resourceVersionMatch&#x60; option to also be set. The semantic of the watch request is as following: - &#x60;resourceVersionMatch&#x60; &#x3D; NotOlderThan   is interpreted as \&quot;data at least as new as the provided &#x60;resourceVersion&#x60;\&quot;   and the bookmark event is send when the state is synced   to a &#x60;resourceVersion&#x60; at least as fresh as the one provided by the ListOptions.   If &#x60;resourceVersion&#x60; is unset, this is interpreted as \&quot;consistent read\&quot; and the   bookmark event is send when the state is synced at least to the moment   when request started being processed. - &#x60;resourceVersionMatch&#x60; set to any other value or unset   Invalid error is returned.  Defaults to true if &#x60;resourceVersion&#x3D;\&quot;\&quot;&#x60; or &#x60;resourceVersion&#x3D;\&quot;0\&quot;&#x60; (for backward compatibility reasons) and to false otherwise.
func (r ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest) SendInitialEvents(sendInitialEvents bool) ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest {
	r.sendInitialEvents = &sendInitialEvents
	return r
}

// Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity.
func (r ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest) TimeoutSeconds(timeoutSeconds int32) ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest {
	r.timeoutSeconds = &timeoutSeconds
	return r
}

// Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion.
func (r ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest) Watch(watch bool) ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest {
	r.watch = &watch
	return r
}

func (r ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest) Execute() (*IoK8sApimachineryPkgApisMetaV1Status, *http.Response, error) {
	return r.ApiService.DeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterExecute(r)
}

/*
DeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineCluster Method for DeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineCluster

delete collection of XlineCluster

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest
*/
func (a *XlineoperatorXlineCloudV1alpha1ApiService) DeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineCluster(ctx context.Context, namespace string) ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest {
	return ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return IoK8sApimachineryPkgApisMetaV1Status
func (a *XlineoperatorXlineCloudV1alpha1ApiService) DeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterExecute(r ApiDeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineClusterRequest) (*IoK8sApimachineryPkgApisMetaV1Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IoK8sApimachineryPkgApisMetaV1Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "XlineoperatorXlineCloudV1alpha1ApiService.DeleteXlineoperatorXlineCloudV1alpha1CollectionNamespacedXlineCluster")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/xlineoperator.xline.cloud/v1alpha1/namespaces/{namespace}/xlineclusters"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	if r.allowWatchBookmarks != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allowWatchBookmarks", r.allowWatchBookmarks, "")
	}
	if r.continue_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continue", r.continue_, "")
	}
	if r.fieldSelector != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldSelector", r.fieldSelector, "")
	}
	if r.labelSelector != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "labelSelector", r.labelSelector, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.resourceVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resourceVersion", r.resourceVersion, "")
	}
	if r.resourceVersionMatch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resourceVersionMatch", r.resourceVersionMatch, "")
	}
	if r.sendInitialEvents != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sendInitialEvents", r.sendInitialEvents, "")
	}
	if r.timeoutSeconds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeoutSeconds", r.timeoutSeconds, "")
	}
	if r.watch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "watch", r.watch, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest struct {
	ctx context.Context
	ApiService *XlineoperatorXlineCloudV1alpha1ApiService
	name string
	namespace string
	pretty *string
	dryRun *string
	gracePeriodSeconds *int32
	orphanDependents *bool
	propagationPolicy *string
	body *IoK8sApimachineryPkgApisMetaV1DeleteOptions
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Pretty(pretty string) ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) DryRun(dryRun string) ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.dryRun = &dryRun
	return r
}

// The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately.
func (r ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) GracePeriodSeconds(gracePeriodSeconds int32) ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.gracePeriodSeconds = &gracePeriodSeconds
	return r
}

// Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \&quot;orphan\&quot; finalizer will be added to/removed from the object&#39;s finalizers list. Either this field or PropagationPolicy may be set, but not both.
func (r ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) OrphanDependents(orphanDependents bool) ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.orphanDependents = &orphanDependents
	return r
}

// Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. Acceptable values are: &#39;Orphan&#39; - orphan the dependents; &#39;Background&#39; - allow the garbage collector to delete the dependents in the background; &#39;Foreground&#39; - a cascading policy that deletes all dependents in the foreground.
func (r ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) PropagationPolicy(propagationPolicy string) ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.propagationPolicy = &propagationPolicy
	return r
}

func (r ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Body(body IoK8sApimachineryPkgApisMetaV1DeleteOptions) ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.body = &body
	return r
}

func (r ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Execute() (*IoK8sApimachineryPkgApisMetaV1Status, *http.Response, error) {
	return r.ApiService.DeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterExecute(r)
}

/*
DeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster Method for DeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster

delete a XlineCluster

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name name of the XlineCluster
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest
*/
func (a *XlineoperatorXlineCloudV1alpha1ApiService) DeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster(ctx context.Context, name string, namespace string) ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	return ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return IoK8sApimachineryPkgApisMetaV1Status
func (a *XlineoperatorXlineCloudV1alpha1ApiService) DeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterExecute(r ApiDeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) (*IoK8sApimachineryPkgApisMetaV1Status, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IoK8sApimachineryPkgApisMetaV1Status
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "XlineoperatorXlineCloudV1alpha1ApiService.DeleteXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/xlineoperator.xline.cloud/v1alpha1/namespaces/{namespace}/xlineclusters/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	if r.dryRun != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dryRun", r.dryRun, "")
	}
	if r.gracePeriodSeconds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gracePeriodSeconds", r.gracePeriodSeconds, "")
	}
	if r.orphanDependents != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orphanDependents", r.orphanDependents, "")
	}
	if r.propagationPolicy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "propagationPolicy", r.propagationPolicy, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/yaml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest struct {
	ctx context.Context
	ApiService *XlineoperatorXlineCloudV1alpha1ApiService
	namespace string
	pretty *string
	allowWatchBookmarks *bool
	continue_ *string
	fieldSelector *string
	labelSelector *string
	limit *int32
	resourceVersion *string
	resourceVersionMatch *string
	sendInitialEvents *bool
	timeoutSeconds *int32
	watch *bool
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Pretty(pretty string) ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.pretty = &pretty
	return r
}

// allowWatchBookmarks requests watch events with type \&quot;BOOKMARK\&quot;. Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server&#39;s discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored.
func (r ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) AllowWatchBookmarks(allowWatchBookmarks bool) ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.allowWatchBookmarks = &allowWatchBookmarks
	return r
}

// The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \&quot;next key\&quot;.  This field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.
func (r ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Continue_(continue_ string) ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.continue_ = &continue_
	return r
}

// A selector to restrict the list of returned objects by their fields. Defaults to everything.
func (r ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) FieldSelector(fieldSelector string) ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.fieldSelector = &fieldSelector
	return r
}

// A selector to restrict the list of returned objects by their labels. Defaults to everything.
func (r ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) LabelSelector(labelSelector string) ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.labelSelector = &labelSelector
	return r
}

// limit is a maximum number of responses to return for a list call. If more items exist, the server will set the &#x60;continue&#x60; field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.  The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
func (r ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Limit(limit int32) ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.limit = &limit
	return r
}

// resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset
func (r ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) ResourceVersion(resourceVersion string) ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.resourceVersion = &resourceVersion
	return r
}

// resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset
func (r ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) ResourceVersionMatch(resourceVersionMatch string) ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.resourceVersionMatch = &resourceVersionMatch
	return r
}

// &#x60;sendInitialEvents&#x3D;true&#x60; may be set together with &#x60;watch&#x3D;true&#x60;. In that case, the watch stream will begin with synthetic events to produce the current state of objects in the collection. Once all such events have been sent, a synthetic \&quot;Bookmark\&quot; event  will be sent. The bookmark will report the ResourceVersion (RV) corresponding to the set of objects, and be marked with &#x60;\&quot;k8s.io/initial-events-end\&quot;: \&quot;true\&quot;&#x60; annotation. Afterwards, the watch stream will proceed as usual, sending watch events corresponding to changes (subsequent to the RV) to objects watched.  When &#x60;sendInitialEvents&#x60; option is set, we require &#x60;resourceVersionMatch&#x60; option to also be set. The semantic of the watch request is as following: - &#x60;resourceVersionMatch&#x60; &#x3D; NotOlderThan   is interpreted as \&quot;data at least as new as the provided &#x60;resourceVersion&#x60;\&quot;   and the bookmark event is send when the state is synced   to a &#x60;resourceVersion&#x60; at least as fresh as the one provided by the ListOptions.   If &#x60;resourceVersion&#x60; is unset, this is interpreted as \&quot;consistent read\&quot; and the   bookmark event is send when the state is synced at least to the moment   when request started being processed. - &#x60;resourceVersionMatch&#x60; set to any other value or unset   Invalid error is returned.  Defaults to true if &#x60;resourceVersion&#x3D;\&quot;\&quot;&#x60; or &#x60;resourceVersion&#x3D;\&quot;0\&quot;&#x60; (for backward compatibility reasons) and to false otherwise.
func (r ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) SendInitialEvents(sendInitialEvents bool) ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.sendInitialEvents = &sendInitialEvents
	return r
}

// Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity.
func (r ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) TimeoutSeconds(timeoutSeconds int32) ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.timeoutSeconds = &timeoutSeconds
	return r
}

// Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion.
func (r ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Watch(watch bool) ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.watch = &watch
	return r
}

func (r ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Execute() (*CloudXlineXlineoperatorV1alpha1XlineClusterList, *http.Response, error) {
	return r.ApiService.ListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterExecute(r)
}

/*
ListXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster Method for ListXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster

list objects of kind XlineCluster

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest
*/
func (a *XlineoperatorXlineCloudV1alpha1ApiService) ListXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster(ctx context.Context, namespace string) ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	return ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return CloudXlineXlineoperatorV1alpha1XlineClusterList
func (a *XlineoperatorXlineCloudV1alpha1ApiService) ListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterExecute(r ApiListXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) (*CloudXlineXlineoperatorV1alpha1XlineClusterList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CloudXlineXlineoperatorV1alpha1XlineClusterList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "XlineoperatorXlineCloudV1alpha1ApiService.ListXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/xlineoperator.xline.cloud/v1alpha1/namespaces/{namespace}/xlineclusters"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	if r.allowWatchBookmarks != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allowWatchBookmarks", r.allowWatchBookmarks, "")
	}
	if r.continue_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continue", r.continue_, "")
	}
	if r.fieldSelector != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldSelector", r.fieldSelector, "")
	}
	if r.labelSelector != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "labelSelector", r.labelSelector, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.resourceVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resourceVersion", r.resourceVersion, "")
	}
	if r.resourceVersionMatch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resourceVersionMatch", r.resourceVersionMatch, "")
	}
	if r.sendInitialEvents != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sendInitialEvents", r.sendInitialEvents, "")
	}
	if r.timeoutSeconds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeoutSeconds", r.timeoutSeconds, "")
	}
	if r.watch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "watch", r.watch, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest struct {
	ctx context.Context
	ApiService *XlineoperatorXlineCloudV1alpha1ApiService
	allowWatchBookmarks *bool
	continue_ *string
	fieldSelector *string
	labelSelector *string
	limit *int32
	pretty *string
	resourceVersion *string
	resourceVersionMatch *string
	sendInitialEvents *bool
	timeoutSeconds *int32
	watch *bool
}

// allowWatchBookmarks requests watch events with type \&quot;BOOKMARK\&quot;. Servers that do not implement bookmarks may ignore this flag and bookmarks are sent at the server&#39;s discretion. Clients should not assume bookmarks are returned at any specific interval, nor may they assume the server will send any BOOKMARK event during a session. If this is not a watch, this field is ignored.
func (r ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest) AllowWatchBookmarks(allowWatchBookmarks bool) ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest {
	r.allowWatchBookmarks = &allowWatchBookmarks
	return r
}

// The continue option should be set when retrieving more results from the server. Since this value is server defined, clients may only use the continue value from a previous query result with identical query parameters (except for the value of continue) and the server may reject a continue value it does not recognize. If the specified continue value is no longer valid whether due to expiration (generally five to fifteen minutes) or a configuration change on the server, the server will respond with a 410 ResourceExpired error together with a continue token. If the client needs a consistent list, it must restart their list without the continue field. Otherwise, the client may send another list request with the token received with the 410 error, the server will respond with a list starting from the next key, but from the latest snapshot, which is inconsistent from the previous list results - objects that are created, modified, or deleted after the first list request will be included in the response, as long as their keys are after the \&quot;next key\&quot;.  This field is not supported when watch is true. Clients may start a watch from the last resourceVersion value returned by the server and not miss any modifications.
func (r ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest) Continue_(continue_ string) ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest {
	r.continue_ = &continue_
	return r
}

// A selector to restrict the list of returned objects by their fields. Defaults to everything.
func (r ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest) FieldSelector(fieldSelector string) ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest {
	r.fieldSelector = &fieldSelector
	return r
}

// A selector to restrict the list of returned objects by their labels. Defaults to everything.
func (r ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest) LabelSelector(labelSelector string) ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest {
	r.labelSelector = &labelSelector
	return r
}

// limit is a maximum number of responses to return for a list call. If more items exist, the server will set the &#x60;continue&#x60; field on the list metadata to a value that can be used with the same initial query to retrieve the next set of results. Setting a limit may return fewer than the requested amount of items (up to zero items) in the event all requested objects are filtered out and clients should only use the presence of the continue field to determine whether more results are available. Servers may choose not to support the limit argument and will return all of the available results. If limit is specified and the continue field is empty, clients may assume that no more results are available. This field is not supported if watch is true.  The server guarantees that the objects returned when using continue will be identical to issuing a single list call without a limit - that is, no objects created, modified, or deleted after the first request is issued will be included in any subsequent continued requests. This is sometimes referred to as a consistent snapshot, and ensures that a client that is using limit to receive smaller chunks of a very large result can ensure they see all possible objects. If objects are updated during a chunked list the version of the object that was present at the time the first list result was calculated is returned.
func (r ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest) Limit(limit int32) ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest {
	r.limit = &limit
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest) Pretty(pretty string) ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest {
	r.pretty = &pretty
	return r
}

// resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset
func (r ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest) ResourceVersion(resourceVersion string) ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest {
	r.resourceVersion = &resourceVersion
	return r
}

// resourceVersionMatch determines how resourceVersion is applied to list calls. It is highly recommended that resourceVersionMatch be set for list calls where resourceVersion is set See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset
func (r ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest) ResourceVersionMatch(resourceVersionMatch string) ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest {
	r.resourceVersionMatch = &resourceVersionMatch
	return r
}

// &#x60;sendInitialEvents&#x3D;true&#x60; may be set together with &#x60;watch&#x3D;true&#x60;. In that case, the watch stream will begin with synthetic events to produce the current state of objects in the collection. Once all such events have been sent, a synthetic \&quot;Bookmark\&quot; event  will be sent. The bookmark will report the ResourceVersion (RV) corresponding to the set of objects, and be marked with &#x60;\&quot;k8s.io/initial-events-end\&quot;: \&quot;true\&quot;&#x60; annotation. Afterwards, the watch stream will proceed as usual, sending watch events corresponding to changes (subsequent to the RV) to objects watched.  When &#x60;sendInitialEvents&#x60; option is set, we require &#x60;resourceVersionMatch&#x60; option to also be set. The semantic of the watch request is as following: - &#x60;resourceVersionMatch&#x60; &#x3D; NotOlderThan   is interpreted as \&quot;data at least as new as the provided &#x60;resourceVersion&#x60;\&quot;   and the bookmark event is send when the state is synced   to a &#x60;resourceVersion&#x60; at least as fresh as the one provided by the ListOptions.   If &#x60;resourceVersion&#x60; is unset, this is interpreted as \&quot;consistent read\&quot; and the   bookmark event is send when the state is synced at least to the moment   when request started being processed. - &#x60;resourceVersionMatch&#x60; set to any other value or unset   Invalid error is returned.  Defaults to true if &#x60;resourceVersion&#x3D;\&quot;\&quot;&#x60; or &#x60;resourceVersion&#x3D;\&quot;0\&quot;&#x60; (for backward compatibility reasons) and to false otherwise.
func (r ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest) SendInitialEvents(sendInitialEvents bool) ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest {
	r.sendInitialEvents = &sendInitialEvents
	return r
}

// Timeout for the list/watch call. This limits the duration of the call, regardless of any activity or inactivity.
func (r ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest) TimeoutSeconds(timeoutSeconds int32) ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest {
	r.timeoutSeconds = &timeoutSeconds
	return r
}

// Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion.
func (r ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest) Watch(watch bool) ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest {
	r.watch = &watch
	return r
}

func (r ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest) Execute() (*CloudXlineXlineoperatorV1alpha1XlineClusterList, *http.Response, error) {
	return r.ApiService.ListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesExecute(r)
}

/*
ListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespaces Method for ListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespaces

list objects of kind XlineCluster

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest
*/
func (a *XlineoperatorXlineCloudV1alpha1ApiService) ListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespaces(ctx context.Context) ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest {
	return ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CloudXlineXlineoperatorV1alpha1XlineClusterList
func (a *XlineoperatorXlineCloudV1alpha1ApiService) ListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesExecute(r ApiListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespacesRequest) (*CloudXlineXlineoperatorV1alpha1XlineClusterList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CloudXlineXlineoperatorV1alpha1XlineClusterList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "XlineoperatorXlineCloudV1alpha1ApiService.ListXlineoperatorXlineCloudV1alpha1XlineClusterForAllNamespaces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/xlineoperator.xline.cloud/v1alpha1/xlineclusters"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.allowWatchBookmarks != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allowWatchBookmarks", r.allowWatchBookmarks, "")
	}
	if r.continue_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "continue", r.continue_, "")
	}
	if r.fieldSelector != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldSelector", r.fieldSelector, "")
	}
	if r.labelSelector != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "labelSelector", r.labelSelector, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	if r.resourceVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resourceVersion", r.resourceVersion, "")
	}
	if r.resourceVersionMatch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resourceVersionMatch", r.resourceVersionMatch, "")
	}
	if r.sendInitialEvents != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sendInitialEvents", r.sendInitialEvents, "")
	}
	if r.timeoutSeconds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeoutSeconds", r.timeoutSeconds, "")
	}
	if r.watch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "watch", r.watch, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest struct {
	ctx context.Context
	ApiService *XlineoperatorXlineCloudV1alpha1ApiService
	name string
	namespace string
	body *map[string]interface{}
	pretty *string
	dryRun *string
	fieldManager *string
	fieldValidation *string
	force *bool
}

func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Body(body map[string]interface{}) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Pretty(pretty string) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) DryRun(dryRun string) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.dryRun = &dryRun
	return r
}

// fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint. This field is required for apply requests (application/apply-patch) but optional for non-apply patch types (JsonPatch, MergePatch, StrategicMergePatch).
func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) FieldManager(fieldManager string) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.fieldManager = &fieldManager
	return r
}

// fieldValidation instructs the server on how to handle objects in the request (POST/PUT/PATCH) containing unknown or duplicate fields. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default in v1.23+ - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered.
func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) FieldValidation(fieldValidation string) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.fieldValidation = &fieldValidation
	return r
}

// Force is going to \&quot;force\&quot; Apply requests. It means user will re-acquire conflicting fields owned by other people. Force flag must be unset for non-apply patch requests.
func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Force(force bool) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.force = &force
	return r
}

func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Execute() (*CloudXlineXlineoperatorV1alpha1XlineCluster, *http.Response, error) {
	return r.ApiService.PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterExecute(r)
}

/*
PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster Method for PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster

partially update the specified XlineCluster

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name name of the XlineCluster
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest
*/
func (a *XlineoperatorXlineCloudV1alpha1ApiService) PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster(ctx context.Context, name string, namespace string) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	return ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return CloudXlineXlineoperatorV1alpha1XlineCluster
func (a *XlineoperatorXlineCloudV1alpha1ApiService) PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterExecute(r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) (*CloudXlineXlineoperatorV1alpha1XlineCluster, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CloudXlineXlineoperatorV1alpha1XlineCluster
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "XlineoperatorXlineCloudV1alpha1ApiService.PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/xlineoperator.xline.cloud/v1alpha1/namespaces/{namespace}/xlineclusters/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	if r.dryRun != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dryRun", r.dryRun, "")
	}
	if r.fieldManager != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldManager", r.fieldManager, "")
	}
	if r.fieldValidation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldValidation", r.fieldValidation, "")
	}
	if r.force != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "force", r.force, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/merge-patch+json", "application/apply-patch+yaml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest struct {
	ctx context.Context
	ApiService *XlineoperatorXlineCloudV1alpha1ApiService
	name string
	namespace string
	body *map[string]interface{}
	pretty *string
	dryRun *string
	fieldManager *string
	fieldValidation *string
	force *bool
}

func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest) Body(body map[string]interface{}) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest) Pretty(pretty string) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest) DryRun(dryRun string) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest {
	r.dryRun = &dryRun
	return r
}

// fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint. This field is required for apply requests (application/apply-patch) but optional for non-apply patch types (JsonPatch, MergePatch, StrategicMergePatch).
func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest) FieldManager(fieldManager string) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest {
	r.fieldManager = &fieldManager
	return r
}

// fieldValidation instructs the server on how to handle objects in the request (POST/PUT/PATCH) containing unknown or duplicate fields. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default in v1.23+ - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered.
func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest) FieldValidation(fieldValidation string) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest {
	r.fieldValidation = &fieldValidation
	return r
}

// Force is going to \&quot;force\&quot; Apply requests. It means user will re-acquire conflicting fields owned by other people. Force flag must be unset for non-apply patch requests.
func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest) Force(force bool) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest {
	r.force = &force
	return r
}

func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest) Execute() (*IoK8sApiAutoscalingV1Scale, *http.Response, error) {
	return r.ApiService.PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleExecute(r)
}

/*
PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScale Method for PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScale

partially update scale of the specified XlineCluster

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name name of the XlineCluster
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest
*/
func (a *XlineoperatorXlineCloudV1alpha1ApiService) PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScale(ctx context.Context, name string, namespace string) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest {
	return ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return IoK8sApiAutoscalingV1Scale
func (a *XlineoperatorXlineCloudV1alpha1ApiService) PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleExecute(r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest) (*IoK8sApiAutoscalingV1Scale, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IoK8sApiAutoscalingV1Scale
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "XlineoperatorXlineCloudV1alpha1ApiService.PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScale")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/xlineoperator.xline.cloud/v1alpha1/namespaces/{namespace}/xlineclusters/{name}/scale"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	if r.dryRun != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dryRun", r.dryRun, "")
	}
	if r.fieldManager != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldManager", r.fieldManager, "")
	}
	if r.fieldValidation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldValidation", r.fieldValidation, "")
	}
	if r.force != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "force", r.force, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/merge-patch+json", "application/apply-patch+yaml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest struct {
	ctx context.Context
	ApiService *XlineoperatorXlineCloudV1alpha1ApiService
	name string
	namespace string
	body *map[string]interface{}
	pretty *string
	dryRun *string
	fieldManager *string
	fieldValidation *string
	force *bool
}

func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest) Body(body map[string]interface{}) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest {
	r.body = &body
	return r
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest) Pretty(pretty string) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest {
	r.pretty = &pretty
	return r
}

// When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest) DryRun(dryRun string) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest {
	r.dryRun = &dryRun
	return r
}

// fieldManager is a name associated with the actor or entity that is making these changes. The value must be less than or 128 characters long, and only contain printable characters, as defined by https://golang.org/pkg/unicode/#IsPrint. This field is required for apply requests (application/apply-patch) but optional for non-apply patch types (JsonPatch, MergePatch, StrategicMergePatch).
func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest) FieldManager(fieldManager string) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest {
	r.fieldManager = &fieldManager
	return r
}

// fieldValidation instructs the server on how to handle objects in the request (POST/PUT/PATCH) containing unknown or duplicate fields. Valid values are: - Ignore: This will ignore any unknown fields that are silently dropped from the object, and will ignore all but the last duplicate field that the decoder encounters. This is the default behavior prior to v1.23. - Warn: This will send a warning via the standard warning response header for each unknown field that is dropped from the object, and for each duplicate field that is encountered. The request will still succeed if there are no other errors, and will only persist the last of any duplicate fields. This is the default in v1.23+ - Strict: This will fail the request with a BadRequest error if any unknown fields would be dropped from the object, or if any duplicate fields are present. The error returned from the server will contain all unknown and duplicate fields encountered.
func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest) FieldValidation(fieldValidation string) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest {
	r.fieldValidation = &fieldValidation
	return r
}

// Force is going to \&quot;force\&quot; Apply requests. It means user will re-acquire conflicting fields owned by other people. Force flag must be unset for non-apply patch requests.
func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest) Force(force bool) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest {
	r.force = &force
	return r
}

func (r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest) Execute() (*CloudXlineXlineoperatorV1alpha1XlineCluster, *http.Response, error) {
	return r.ApiService.PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusExecute(r)
}

/*
PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatus Method for PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatus

partially update status of the specified XlineCluster

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name name of the XlineCluster
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest
*/
func (a *XlineoperatorXlineCloudV1alpha1ApiService) PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatus(ctx context.Context, name string, namespace string) ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest {
	return ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return CloudXlineXlineoperatorV1alpha1XlineCluster
func (a *XlineoperatorXlineCloudV1alpha1ApiService) PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusExecute(r ApiPatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest) (*CloudXlineXlineoperatorV1alpha1XlineCluster, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CloudXlineXlineoperatorV1alpha1XlineCluster
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "XlineoperatorXlineCloudV1alpha1ApiService.PatchXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/xlineoperator.xline.cloud/v1alpha1/namespaces/{namespace}/xlineclusters/{name}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	if r.dryRun != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dryRun", r.dryRun, "")
	}
	if r.fieldManager != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldManager", r.fieldManager, "")
	}
	if r.fieldValidation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldValidation", r.fieldValidation, "")
	}
	if r.force != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "force", r.force, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json-patch+json", "application/merge-patch+json", "application/apply-patch+yaml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest struct {
	ctx context.Context
	ApiService *XlineoperatorXlineCloudV1alpha1ApiService
	name string
	namespace string
	pretty *string
	resourceVersion *string
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Pretty(pretty string) ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.pretty = &pretty
	return r
}

// resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset
func (r ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) ResourceVersion(resourceVersion string) ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	r.resourceVersion = &resourceVersion
	return r
}

func (r ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) Execute() (*CloudXlineXlineoperatorV1alpha1XlineCluster, *http.Response, error) {
	return r.ApiService.ReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterExecute(r)
}

/*
ReadXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster Method for ReadXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster

read the specified XlineCluster

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name name of the XlineCluster
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest
*/
func (a *XlineoperatorXlineCloudV1alpha1ApiService) ReadXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster(ctx context.Context, name string, namespace string) ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest {
	return ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return CloudXlineXlineoperatorV1alpha1XlineCluster
func (a *XlineoperatorXlineCloudV1alpha1ApiService) ReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterExecute(r ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterRequest) (*CloudXlineXlineoperatorV1alpha1XlineCluster, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CloudXlineXlineoperatorV1alpha1XlineCluster
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "XlineoperatorXlineCloudV1alpha1ApiService.ReadXlineoperatorXlineCloudV1alpha1NamespacedXlineCluster")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/xlineoperator.xline.cloud/v1alpha1/namespaces/{namespace}/xlineclusters/{name}"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	if r.resourceVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resourceVersion", r.resourceVersion, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest struct {
	ctx context.Context
	ApiService *XlineoperatorXlineCloudV1alpha1ApiService
	name string
	namespace string
	pretty *string
	resourceVersion *string
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest) Pretty(pretty string) ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest {
	r.pretty = &pretty
	return r
}

// resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset
func (r ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest) ResourceVersion(resourceVersion string) ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest {
	r.resourceVersion = &resourceVersion
	return r
}

func (r ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest) Execute() (*IoK8sApiAutoscalingV1Scale, *http.Response, error) {
	return r.ApiService.ReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleExecute(r)
}

/*
ReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScale Method for ReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScale

read scale of the specified XlineCluster

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name name of the XlineCluster
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest
*/
func (a *XlineoperatorXlineCloudV1alpha1ApiService) ReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScale(ctx context.Context, name string, namespace string) ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest {
	return ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest{
		ApiService: a,
		ctx: ctx,
		name: name,
		namespace: namespace,
	}
}

// Execute executes the request
//  @return IoK8sApiAutoscalingV1Scale
func (a *XlineoperatorXlineCloudV1alpha1ApiService) ReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleExecute(r ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScaleRequest) (*IoK8sApiAutoscalingV1Scale, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IoK8sApiAutoscalingV1Scale
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "XlineoperatorXlineCloudV1alpha1ApiService.ReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterScale")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/apis/xlineoperator.xline.cloud/v1alpha1/namespaces/{namespace}/xlineclusters/{name}/scale"
	localVarPath = strings.Replace(localVarPath, "{"+"name"+"}", url.PathEscape(parameterValueToString(r.name, "name")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pretty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pretty", r.pretty, "")
	}
	if r.resourceVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resourceVersion", r.resourceVersion, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/yaml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["BearerToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest struct {
	ctx context.Context
	ApiService *XlineoperatorXlineCloudV1alpha1ApiService
	name string
	namespace string
	pretty *string
	resourceVersion *string
}

// If &#39;true&#39;, then the output is pretty printed.
func (r ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest) Pretty(pretty string) ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest {
	r.pretty = &pretty
	return r
}

// resourceVersion sets a constraint on what resource versions a request may be served from. See https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions for details.  Defaults to unset
func (r ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest) ResourceVersion(resourceVersion string) ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest {
	r.resourceVersion = &resourceVersion
	return r
}

func (r ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest) Execute() (*CloudXlineXlineoperatorV1alpha1XlineCluster, *http.Response, error) {
	return r.ApiService.ReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusExecute(r)
}

/*
ReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatus Method for ReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatus

read status of the specified XlineCluster

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param name name of the XlineCluster
 @param namespace object name and auth scope, such as for teams and projects
 @return ApiReadXlineoperatorXlineCloudV1alpha1NamespacedXlineClusterStatusRequest
*/
[...]
